.page-header
  = link_to classrooms_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_classroom_path(@classroom), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show classroom

%dl.dl-horizontal
  %dt Name:
  %dd= @classroom.name
