.page-header
  = link_to students_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_student_path(@student), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show student

%dl.dl-horizontal
  %dt Name:
  %dd= @student.name
